*.gox
.idea
*.mdb
*.userprefs
*.pidb
*.suo
*.out
*.pyc
*.wixobj
*.msi
*.wixpdb
build
dist
setuptools-*
.DS_Store
*.so
nohup.out
*.orig
*.rej
*~
*.o
*.pyo
tests/*.err
*.swp
*.swo
store/*
*.log
*.egg-info
dist/
doc/_build/
distribute-*
pip-log.txt
.coverage
data/
*.egg
.tox
out.txt
junit*.xml
.ropeproject
.cache
tmp/
bin/
*.sublime-project
*.sublime-workspace
*.pprof
gin-bin
pkg/buildinfo/buildinfo.go
temp/
buildinfo.json

pdf/font.go

fuzz.go
